
*{
padding:0;
  margin:0;
}
.container{
  max-width: 1366px;
  margin: 0 auto;
}
header{
  background-color: bisque;
}
.link {
  color: #737171;
  &:hover {
    cursor: pointer;
    color: #33bae3;
    transition: all 0.3s ;
  }
}
.navbar{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  &__icon{
    font-size: 24px;
  }
  &__right{
    display: flex;
    margin-right:20px;
    position: relative;
  }
  &__icon:last-child{
    padding-left: 20px;
  }
  &__search{
    display: flex;
    //left: -20%;
    position: relative;
    & input{
      width: 500px;
      padding: 0 15px;
      background-color: antiquewhite;
      border: none;
      &:focus {
        outline: none;
        //border: 3px solid #d4d4ff;
        box-shadow: 0 0 2px 2px #33bae3;
        transition: all 0.3s ;
      }
    }
  }
}
.logo__text{
  position: relative;
  background: linear-gradient(180deg, #015D79 0%, rgba(51, 186, 227, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.burger{
  position: absolute;
  width: 200px;
  height: 500px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(252, 255, 120, 0.4) 0%, rgba(139, 255, 173, 0.4) 100%), linear-gradient(180deg, #FFE4C4 0%, #FFE4C4 100%);  right: 40px;
  top: 22px;
  z-index: 100;
  &__list{
    list-style: none;
    padding: 10px;
    & li{
      padding-left:10px;
    }
  }
  &__toggle{
    display:none;
  }
}
.body{
  background-color: cornsilk;
}
.intro{
background-image: url(../img/img.png);
  height:40vh;
  background-repeat: no-repeat;
  background-size:100%;
  display: flex;
  justify-content: space-evenly;
  &__text{
    max-width:800px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    & input{
      margin-bottom: 10px;
      outline: none;
      border: none;
      border-radius: 10px;
      padding:5px 20px;
      background-color: #fffb00;
      &:hover{
        background:#33bae3;
        transition: 0.3s;
      }
      &:focus{
        background:#ffffff;
        transition: 0.3s;
      }
    }
    & button{
      border-radius: 10px;
      border: none;
      padding:5px 20px;
      background-color: #fffb00;
      &:hover{
          background:#33bae3;
        transition: 0.3s;
        cursor:pointer;
    }
    }
  }
}
.cards{
  height:100vh;
  background-color: #fff5d2;
}


























